.badge {
  display: inline-flex;
  font-weight: 700;
  font-size: 1.1rem;
  color: #5ccd97;
  justify-content: center;
  align-items: center;

  &.equal {
    color: #000;
  }

  &.danger {
    background: var(--danger);
    color: #fff;
  }
}
