.card {
  background: var(--card);
  box-shadow: var(--shadow);
  border-radius: 6px;
  padding: 1.5rem;
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
  border: var(--card-border);
  width: 100%;

  .cardHeader {
    display: flex;
    justify-content: space-between;

    .cardTitle {
      color: var(--card-title);
      font-weight: 600;
      margin: 0;
      font-size: 1.1rem;
    }
  }
}
