.list {
  &.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em;
  }
}

.listItem {
  background: var(--card);
  box-shadow: var(--box-shadow);
  padding: 0.75em 1em;
  margin-bottom: 0.5em;
  border: var(--card-border);
  border-radius: 6px;
  font-size: 1.6rem;

  &:hover {
    background: var(--hover-color);
    color: #fff;
  }
}
