.content {
  margin-left: calc(var(--navigation-width) + 20px);
  width: 100%;
  padding: 2em;
  padding-left: 0;
  @media (max-width: 991.98px) {
    margin-left: 0;
    margin-top: 1.2em;
    padding: 0;
  }
}
