// i want to use css variables in case of if need dark mode.
:root {
  --body-background: #f4f8f9;
  --navigation-width: 105px;
  --shadow: 0px 4px 9px rgba(0, 0, 0, 0.02);
  --card: #fff;
  --badge: rgba(50, 60, 71, 0.4);
  --danger: #FF6D4A;
}

.dark-theme {
  --body-background: #222729;
}

body {
  background-color: var(--body-background);
  font-family: 'Lato', sans-serif;
}

#root {
  display: flex;
}

.main {
  align-content: center;
}
