.dashboard {
  text-align: left;
  &--label {
    font-size: 1.1em;
    font-weight: 500;
  }
  &--value {
    color: #4da1ff;
    font-weight: 700;
    margin-top: 0.4em;
    font-size: 2em;
    display: flex;
    align-items: center;
  }
  &--badge {
    font-size: 14px;
    color: var(--badge);
    margin-left: 0.5em;
  }
}
