.dashboard {
  &--head-row {
    padding: 10px;
    input {
      width: 100%;
    }
  }
  &--up-down-button {
    float: right;
    cursor: pointer;
  }
  &--fix-head {
    overflow-y: auto;
    height: 100px;
    th {
      position: sticky;
      top: 0;
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px 16px;
}

th {
  background: var(--table-header);
}

td.align-center {
  text-align: center;
}

th.w-65 {
  width: 65%;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: var(--table-stripped);
}
